ci:
  autoupdate_schedule: "quarterly"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: check-toml
      - id: check-yaml
      - id: no-commit-to-branch
        args: [--branch, dev, --branch, main]
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: debug-statements

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
      - id: pyupgrade
        args: [--py38-plus]

  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.19.0
    hooks:
      - id: setup-cfg-fmt

  - repo: https://github.com/neutrinoceros/inifix.git
    rev: v0.9.1
    hooks:
      - id: inifix-validate

  - repo: https://github.com/psf/black
    rev: 21.10b0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        additional_dependencies: [toml]

  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.910-1'
    hooks:
      - id: mypy
        additional_dependencies: [
          types-setuptools,
          types-toml,
          numpy,
          matplotlib,
        ]
