name: CI
on:
  push:
    branches:
    - main
  pull_request:
    paths-ignore:
    - README.md

  schedule:
    # run this once a week (wednesday) at 3 am UTC
  - cron: 0 3 * * 3
  workflow_dispatch:



jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        python-version:
        - '3.9'
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        label: ['']
        include:
        - os: ubuntu-20.04
          python-version: '3.9'
          label: (oldest deps, minimal)
          install-args: --resolution=lowest-direct
        - os: ubuntu-20.04
          python-version: '3.9'
          label: (oldest deps, full)
          install-args: --resolution=lowest-direct --all-extras --compile-bytecode
        - os: ubuntu-latest
          python-version: '3.13'
          install-args: --all-extras
          label: (full)
        - os: macos-latest
          python-version: '3.13'
        - os: windows-latest
          python-version: '3.13'

    name: ${{ matrix.os }}-py${{ matrix.python-version }} ${{ matrix.label }}
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: astral-sh/setup-uv@0c5e2b8115b80b4c7c5ddf6ffdd634974642d182 # v5.4.1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run pytest
      shell: bash
      run: |
        uv run --group covcheck ${{ matrix.install-args }} \
          coverage run --parallel-mode -m pytest --color=yes

    - name: Upload coverage data
      # only using reports from ubuntu because
      # combining reports from multiple platforms is tricky (or impossible ?)
      if: startsWith(matrix.os, 'ubuntu')
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: nonos_coverage_data-${{ matrix.os }}-${{ matrix.python-version }}${{ matrix.label }}
        path: .coverage.*
        if-no-files-found: ignore
        include-hidden-files: true

  type-check:
    strategy:
      matrix:
        python-version:
        - '3.9'
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'

    runs-on: ubuntu-latest
    name: type-checking

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: astral-sh/setup-uv@0c5e2b8115b80b4c7c5ddf6ffdd634974642d182 # v5.4.1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Typecheck
      run: |
        uv run --frozen --no-editable --group typecheck mypy src tests

  image-tests:
    name: Image tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: astral-sh/setup-uv@0c5e2b8115b80b4c7c5ddf6ffdd634974642d182 # v5.4.1
      with:
        python-version: '3.13'

    - name: Run Image Tests
      run: |
        uv run --frozen --no-editable --group test \
          pytest --color=yes --mpl -m mpl_image_compare \
            --mpl-generate-summary=html \
            --mpl-results-path=nonos_pytest_mpl_results \
            --mpl-baseline-path=tests/pytest_mpl_baseline

    - name: Generate new image baseline
      if: failure()
      run: |
        uv run --frozen --no-editable --group test \
          pytest --color=yes --mpl -m mpl_image_compare \
            --mpl-generate-path=nonos_pytest_mpl_new_baseline \
            --last-failed

    # always attempt to upload artifacts, even
    # (and especially) in case of failure.
    - name: Upload pytest-mpl report
      if: always()
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: nonos_pytest_mpl_results
        path: nonos_pytest_mpl_results/*

    - name: Upload pytest-mpl baseline
      if: always()
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: nonos_pytest_mpl_new_baseline
        path: nonos_pytest_mpl_new_baseline/*
        if-no-files-found: ignore

  coverage:
    name: Combine coverage reports
    runs-on: ubuntu-latest
    needs: tests

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: astral-sh/setup-uv@0c5e2b8115b80b4c7c5ddf6ffdd634974642d182 # v5.4.1
      with:
        # Use latest Python, so it understands all syntax.
        python-version: '3.13'

    - run: uv tool install coverage

    - uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
      with:
        pattern: nonos_coverage_data-*
        merge-multiple: true

    - name: Check coverage
      run: |
        coverage combine
        coverage html --skip-covered --skip-empty
        coverage report --fail-under=85

    - name: Upload HTML report
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: nonos_coverage_report
        path: htmlcov
      if: ${{ always() }}

  docs:
    runs-on: ubuntu-latest
    name: docs

    concurrency:
      group: ${{ github.ref }}-docs
      cancel-in-progress: true

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: astral-sh/setup-uv@0c5e2b8115b80b4c7c5ddf6ffdd634974642d182 # v5.4.1
    - name: Build
      run: |
        uv run --frozen --group docs mkdocs build
    - name: Upload artifacts
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: site
        path: site
