name: CI
on:
  push:
    branches:
      - main
  pull_request:
    paths-ignore:
      - README.md

  schedule:
    # run this once a week (wednesday) at 3 am UTC
    - cron: '0 3 * * 3'
  workflow_dispatch:
jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.10']
        dependencies: [dev]
        include:
          - os: ubuntu-20.04
            python-version: '3.8'
            dependencies: 'dev,minimal'

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Build (UNIX)
      if: runner.os != 'Windows'
      run: python -m pip install .["$dependencies"]
      env:
        dependencies: ${{ matrix.dependencies }}

    - name: Build (Windows)
      if: runner.os == 'Windows'
      run: python -m pip install .["$env:dependencies"]
      env:
        dependencies: ${{ matrix.dependencies }}


    - name: Run pytest
      run: pytest --color=yes


  type-check:
    runs-on: ubuntu-latest
    name: type-checking

    steps:
    - uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'

    - name: Build
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install .[typecheck]

    - name: Run mypy
      run: mypy nonos


  image-tests:
    name: Image tests
    runs-on: ubuntu-latest

    steps:
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - uses: actions/checkout@v3

    - name: Build
      run: python -m pip install ".[dev]"

    - name: Run Image Tests
      run: |
        pytest --color=yes --mpl -m mpl_image_compare \
               --mpl-generate-summary=html \
               --mpl-results-path=nonos_pytest_mpl_results \
               --mpl-baseline-path=tests/pytest_mpl_baseline

    - name: Generate new image baseline
      if: failure()
      run: |
        pytest --color=yes --mpl -m mpl_image_compare \
               --mpl-generate-path=nonos_pytest_mpl_new_baseline \
               --last-failed

    # always attempt to upload artifacts, even
    # (and especially) in case of failure.
    - name: Upload pytest-mpl report
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: nonos_pytest_mpl_results
        path: nonos_pytest_mpl_results/*

    - name: Upload pytest-mpl baseline
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: nonos_pytest_mpl_new_baseline
        path: nonos_pytest_mpl_new_baseline/*
        if-no-files-found: ignore
